<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MyLifeSite</display-name>
  <!-- 上下文配置变量 -->
  <context-param>
	<param-name>contextConfigLocation</param-name> 
	<param-value>classpath:spring/spring-content.xml</param-value> 
  </context-param>
  <!-- 上下文环境变量监视器 -->
  <listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- 类分发器，用于进行请求到控制器的映射 -->
  <servlet>
	<servlet-name>dispatcherServerlet</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	  <init-param>
		 <param-name>contextConfigLocation</param-name>
		 <param-value>
			classpath:spring/spring-content.xml
		 </param-value>
	  </init-param>
	  <load-on-startup>1</load-on-startup>
  </servlet>
  <!-- 初始话界面 -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
    
</web-app>